<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.uushopping.mapper.CommodityMapper">
    <select id="getAllCommodity" resultType="org.uushopping.pojo.Commodity">
        select * from commodity;
    </select>
    <select id="search" resultType="org.uushopping.pojo.Commodity">
        select * from commodity where commodityName like "%"#{arg0}"%";
    </select>
    <select id="getFlag" parameterType="int" resultType="string">
        select commodityFlag from commodity where commodityId = #{arg0};
    </select>
    <update id="setFlag" >
        update commodity set commodityFlag = #{arg0} where commodityId = #{arg1};
    </update>
    <select id="selectCommodityById" resultType="org.uushopping.pojo.CommodityInfo">
        SELECT
	c.commodityId,
          c.commodityName,
          c.commodityDetails,
          c.commodityPrice,
          c.commodityType,
          c.commoditySize,
          c.commodityVersion,
          c.commodityImageId,
          c.commodityStyle,
          c.salesVolume,
          c.cumulativeComment,
          c.commodityStock,
          c.commodityBrand,
          c.commondityFrom,
	ci.imageAddress
        from commodity c ,commodityimage  ci WHERE commodityId =#{arg0} AND c.commodityImageId = ci.commodityImageId;
    </select>
</mapper>