<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.uushopping.mapper.SuperManagerMapper">
    <!--查询sql语句-->
    <select id="findSuperManagerInfoById" resultType="org.uushopping.pojo.SuperManager" >
        select * from supermanager where managerId=#{managerId}
    </select>

    <select id="findSuperManagerInfoByNameAndPassword" resultType="org.uushopping.pojo.SuperManager">
        select * from supermanager where managerName = #{arg0} and managerPassword = #{arg1}
    </select>
    <select id="findManagerHistoryById" resultType="org.uushopping.pojo.ManagerHistory">
        select  * from managerhistory where managerId = #{managerId}
    </select>
    <!--管理员登录记录表插入数据-->
    <insert id="insertManagerHistory">
        insert into managerhistory(managerId,loginDate) values(#{arg0},#{arg1});
    </insert>
    <!--更新数据到管理员表中-->
    <update id="updateSuperManager">
        update supermanager set managerName=#{param1},managerPhone=#{param2},managerEmail=#{param3} , managerQQ=#{param4} where managerId=#{param5}
    </update>
</mapper>