<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.uushopping.mapper.SuperManagerMapper">
    <!--查询sql语句-->
    <select id="findSuperManagerInfoById" resultType="org.uushopping.pojo.SuperManager" >
        select * from supermanager where managerId=#{managerId}
    </select>

    <select id="findSuperManagerInfoByNameAndPassword" resultType="org.uushopping.pojo.SuperManager">
        select * from supermanager where managerName = #{arg0} and managerPassword = #{arg1}
    </select>
</mapper>